  #nav1 {
    font-size: 100%;
    font-weight: bold;
    list-style: none;
  }
  #nav1 li {
    margin-bottom: 0.8em;
  }
  #nav1 li a {
      background-position: 31px center;
      background-repeat: no-repeat;
      color: #333333;
      display: block;
      height: 64px;
      line-height: 64px;
      padding-left: 100px;
      position: fixed;
      text-decoration: none;
  }
  #nav1 li a:hover {
    color: #FF9900;
  }
  
  .tab1{
    background-color: pink;
    top:20px;
    right: -140px;
  }
  .tab2{
    background-color: skyblue;
    top:100px;
    right: -154px;
  }
  .tab3{
    background-color: yellow;
    top:180px;
    right: -150px;
  }
  .tab4{
    background-color: whitesmoke;
    top:260px;
    right: -141px;
  }
